html {
  height: 100%;
  background: #26b777;
}

body {
  margin: 0;
  font-family: 'Amatic SC', 'sans-serif';
}

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: #26b777;
  height: 100vh;
}

.clock-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}